{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
    <div class="column">
        <img class="ui image"> <a href="https://cdn.glitch.com/81a6a8d6-2f75-4828-bdf6-0d3d337d39cb%2Ffitness.jpg?v=1566761405320"></a>
    </div>
    <p> Sign up or Log in... </p>
</section>